<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crazyandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bitmap.PaintMainActivity" />
        <activity android:name=".activities.BaseAdapterActivity" />
        <activity android:name=".activities.SimpleAdapterActivity" />
        <activity android:name=".activities.MyListActivity" />
        <activity
            android:name=".activities.AutoCompleteActivity"
            android:label="@string/title_activity_auto_complete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.GridViewTest" />
        <activity android:name=".activities.ExpandableListActivity" />
        <activity android:name=".activities.SpinnerActivity" />
        <activity android:name=".activities.AdapterViewFlipperActivity" />
        <activity android:name=".activities.StackViewActivity" />
        <activity android:name=".activities.CodeViewActivity" />
        <activity android:name=".activities.MixViewActivity" />
        <activity android:name=".activities.DrawViewActivity" />
        <activity android:name=".activities.LinearLayoutActivity" />
        <activity android:name=".activities.TableLayoutActivity" />
        <activity android:name=".activities.FrameLayoutActivity" />
        <activity android:name=".activities.RelativeLayoutActivity" />
        <activity android:name=".activities.ArrayAdapterActivity" />
        <activity android:name=".activities.MainListActivity" />
        <activity android:name=".activities.PreferenceActivityTest" />
        <activity android:name=".activities.FragementTestMainActivity" />
        <activity android:name=".activities.BookDetailFragment" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".bitmap.MainActivity" />
        <activity android:name=".bitmap.PathMainActivity"></activity>
    </application>

</manifest>